h1 {
  width: auto; }

h2 {
  width: auto; }

h3 {
  width: auto; }

h4 {
  width: auto; }

a {
  text-decoration: none;
  background: transparent; }

a:hover {
  background: transparent; }

body {
  background-image: url("/images/background.jpg"); }

#email_settings {
  margin-left: 260px;
  display: box;
  display: -moz-box;
  display: -webkit-box;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7); }
