#new_client_container
	%nav
		=button_to "zurück", url(:clients, :index), method: :get, class: :button
	#new_client_content
		%h4="Neuer Client"
		-form_for @client, url(:clients, :create) do |f|
			=partial "clients/form", locals: {f: f}