@import 'general.sass'

#bills
	text-align: center

	#bills_content
		@include box(vertical)
		text-align: left
		
		@include smooth_div()
		@include box_align(left)

		td,th
			padding-left: 10px
		td.last
			@include box(horizontal)
			input[type=submit]
				margin-right: 5px
			
			input[type=button]
				margin-right: 5px
#bills_edit
	margin-left: 260px
	#bills_edit_content
	+box(vertical)
	+smooth_div
	+box_align(left)

#bill
	+box(vertical)
	+smooth_div
	margin-left: 260px

	#bill_content
	td,th
		text-align: left
		padding-left: 10px
	.wrap-up
		border: 2px solid rgba(0,0,0,0.5)