#bills
	#bills_content	
		
		#bills_head
			%h4= "Bills for: #{@client.company}"
		%table
			%tr
				%th="Rechnungsnummer"
				%th="Zeitraum"
				%th="Stunden"
				%th="Endgeld"
				%th="Aktionen"
			=partial "/bills/bill", collection: @bills