#bills
	#bills_head
		%h4= "Bills for#{@client.company}"
	#bills_content	
		%table
			%tr
				%th="id"
				%th="Zeitraum"
				%th="Endgeld"
				%th="Aktionen"
			=render partial: "/bills/bill", collection: @bills