!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		=stylesheet_link_tag 'general'
		=stylesheet_link_tag 'home'
		=stylesheet_link_tag 'application'
		=stylesheet_link_tag 'bill'
		=stylesheet_link_tag 'client'
		=stylesheet_link_tag 'jquery-ui'
		=stylesheet_link_tag 'account'

		=javascript_include_tag 'jquery'
		=javascript_include_tag 'jquery-ui'
		=javascript_include_tag 'bill'
		=javascript_include_tag 'home'
		=javascript_include_tag 'account'
		-# =stylesheet_link_tag 'application_login', 'application', 'layout'
		-# =stylesheet_link_tag 'general', 'application', 'layout'
		-# =stylesheet_link_tag 'general', 'application', 'layout'
	%body
		#head
			#head_title
				%h1{id: :Siteheader}="Billmaker"
				%nav
					=link_to "home", url(:home, :index)#, class: :nav_first
					=link_to "clients", url(:clients,:index)
					=link_to "bills", url(:bills, :index), class: :last
			#head_logout
				#head_logout_content
					.accountname=link_to current_account.name, url(:accounts, :edit_settings)
					.logout
						=form_tag url(:login, :destroy), method: :delete do
							=submit_tag :logout
		#head_end	
		#ajax_container				
		%container
			%menu
			%content
				=yield
:plain
	<script type="text/javascript" src="https://www.google.com/jsapi">
	</script>
	<script type="text/javascript">
		google.load("webfont", "1");
		google.setOnLoadCallback(function() {
			WebFont.load({
			  google: {
				families: [ 'Headland One','Terminal Dosis','Special Elite' ]
			  }
			  });
			});
	</script>

